<div class="d-flex justify-content-center container">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="text-center mb-5">
        <h2 id="jhi-company-posts-heading" data-cy="CompanyPostsCreateUpdateHeading">Create or edit a Company Posts</h2>
      </div>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_postContent">Post Content</label>
          <input
            type="text"
            class="form-control"
            name="postContent"
            id="field_postContent"
            data-cy="postContent"
            formControlName="postContent"
          />
          <div *ngIf="editForm.get('postContent')!.invalid && (editForm.get('postContent')!.dirty || editForm.get('postContent')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('postContent')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_postImage">Post Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('postImageContentType')!.value + ';base64,' + editForm.get('postImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('postImage')!.value"
              alt="companyPosts image"
            />
            <div *ngIf="editForm.get('postImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('postImageContentType')!.value }}, {{ byteSize(editForm.get('postImage')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('postImage', 'postImageContentType', 'file_postImage')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_postImage" data-cy="postImage" (change)="setFileData($event, 'postImage', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="postImage" id="field_postImage" data-cy="postImage" formControlName="postImage" />
          <input
            type="hidden"
            class="form-control"
            name="postImageContentType"
            id="field_postImageContentType"
            formControlName="postImageContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdAt')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_userCompany">User Company</label>
          <select
            class="form-control"
            id="field_userCompany"
            data-cy="userCompany"
            name="userCompany"
            formControlName="userCompany"
            [compareWith]="compareUserCompany"
            required="true"
          >
            <option [ngValue]="null">Select a user company</option>
            <option [ngValue]="userCompanyOption" *ngFor="let userCompanyOption of userCompaniesSharedCollection">
              {{ userCompanyOption.name ? userCompanyOption.name : 'No Name Provided' }}
            </option>
            <div
              *ngIf="editForm.get('userCompany')!.invalid && (editForm.get('userCompany')!.dirty || editForm.get('userCompany')!.touched)"
            >
              <small class="form-text text-danger" *ngIf="editForm.get('userCompany')?.errors?.required">This field is required</small>
            </div>
          </select>
        </div>
      </div>

      <div class="text-center mt-5">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary btn-submit1"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary btn-submit2"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
