<div class="main-hero background-img align-items-center">
  <div class="container text-center hero">
    <h1 class="title"><b>Respecting Your Privacy - GDPR</b></h1>
    <h3 class="subtitle my-1">Our Commitment to Protecting Your Privacy and Complying with the Law</h3>
  </div>
</div>

<div class="body">
  <div class="container">
    <div class="section"></div>
    <h3 class="heading">PlacementHub Privacy Policy</h3>
    <p class="content">
      PlacementHub is a website and is part of the Team 08 Group which includes the University of Birmingham development teams for the Team
      Project Module. This privacy policy will explain how our organization uses the personal data we collect from you when you use our
      website.
    </p>

    <div class="section">
      <h3 class="heading">What data do we collect?</h3>
      <p class="content">Our Company collects the following data:</p>
      <ul class="content">
        <li>Personal identification information (Name, email address, phone number, password, etc.)</li>
        <li>Personal placement related information (calendar info, notes, tracked placements)</li>
        <li>Company identification information (name, logo, location, industry)</li>
        <li>Company Profiles</li>
        <li>Content of comment for ratings</li>
        <li>Articles/Videos that have been deemed a favourite</li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">How do we collect your data?</h3>
      <p class="content">You directly provide PlacementHub with most of the data we collect. We collect data and process data when you:</p>
      <ul class="content">
        <li>Register online</li>
        <li>Voluntarily complete a customer rating or provide feedback via our rating system or via email.</li>
        <li>Use or view our website via your browser’s cookies.</li>
        <li>Submit a company profile to be presented on the website</li>
        <li>Submit a job listing to be presented on the website</li>
        <li>Select an article/video to be favorited</li>
      </ul>
      <p class="content">PlacementHub may also receive your data indirectly from the following sources:</p>
      <ul class="content">
        <li>Any personal information that is mentioned through the calendar, note or placement tracker features</li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">How will we use your data?</h3>
      <p class="content">PlacementHub collects your data so that we can:</p>
      <ul class="content">
        <li>Manage your account</li>
        <li>Provide relevant job listings and placements</li>
        <li>Display company profiles</li>
        <li>Display ratings of placements</li>
        <li>Save calendar, note, placement tracker and favourite article/video information for your personal use</li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">How will we use your data?</h3>
      <p class="content">PlacementHub collects your data so that we can:</p>
      <ul class="content">
        <li>Manage your account</li>
        <li>Provide relevant job listings and placements</li>
        <li>Display company profiles</li>
        <li>Display ratings of placements</li>
        <li>Save calendar, note, placement tracker and favourite article/video information for your personal use</li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">How do we store your data?</h3>
      <p class="content">
        PlacementHub securely stores your data at The University of Birmingham, Edgbaston campus. Our Company will keep your personal data
        (name, email address, phone number, password, etc) for 6 months after you were last active on our site. Once this time period has
        expired, we will delete your data by removing all personal data from our servers. The content of data provided for rating is stored
        and presented anonymously. Therefore, that specific data is held indefinitely. Data provided regarding company profiles and job
        listings are not personal and are either stored indefinitely or until the information is no longer accurate. At that point the data
        is removed from our servers.
      </p>
    </div>

    <div class="section">
      <h3 class="heading">Embedded content from other websites</h3>
      <p class="content">
        Articles/Videos on the Website may include embedded content (e.g. videos, charts, etc.). Embedded content from other websites
        behaves in the exact same way as if the visitor had visited the other website. These websites may collect data about you, use
        cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your
        interaction with the embedded content if you have an account and are logged in to that website.
      </p>
    </div>

    <div class="section">
      <h3 class="heading">What are your data protection rights?</h3>
      <p class="content">
        PlacementHub would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the
        following:
      </p>
      <ul class="content">
        <li>
          <b class="bold">The right to access</b> – You have the right to request PlacementHub for copies of your personal data. We may
          charge you a small fee for this service.
        </li>
        <li>
          <b class="bold">The right to rectification</b> – You have the right to request that PlacementHub correct any information you
          believe is inaccurate. You also have the right to request PlacementHub to complete the information you believe is incomplete.
        </li>
        <li>
          <b class="bold">The right to erasure</b> – You have the right to request that PlacementHub erase your personal data, under certain
          conditions.
        </li>
        <li>
          <b class="bold">The right to restrict processing</b> – You have the right to request that PlacementHub restrict the processing of
          your personal data, under certain conditions.
        </li>
        <li>
          <b class="bold">The right to object to processing</b> – You have the right to object to PlacementHub’s processing of your personal
          data, under certain conditions.
        </li>
        <li>
          <b class="bold">The right to data portability</b> – You have the right to request that PlacementHub transfer the data that we have
          collected to another organization, or directly to you, under certain conditions.
        </li>
      </ul>
    </div>

    <div class="section">
      <p class="content">
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.
      </p>
      <p class="content medium">Email us at one of the following emails :</p>
      <p class="content">- cxo242@student.bham.ac.uk (Chibueze David Ogbonna)</p>
      <p class="content">- kxk362@student.bham.ac.uk (Katarina Kartakusuma)</p>
      <p class="content">- lxt211@student.bham.ac.uk (Laila Tantavy)</p>
      <p class="content">- riw382@student.bham.ac.uk (Ramzy Izza Wardhana)</p>
      <p class="content">- sxk1332@student.bham.ac.uk (Suhel Malik)</p>
      <p class="content">- axa1941@student.bham.ac.uk (Andrei Argeanu)</p>
      <p class="content">- sxm1735@student.bham.ac.uk (Suhel Malik)</p>
      <p class="content medium">Or Call us at:</p>
      <p class="content">+447495377451</p>
      <p class="content medium">Or write to us at:</p>
      <p class="content">Ashcroft Block 2, Flat 11, Pritchatts Rd, West Midlands, Birmingham, B15 2QU</p>
    </div>

    <div class="section">
      <h3 class="heading">Cookies</h3>
      <p class="content">
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When
        you visit our websites, we will collect information from you automatically through cookies or similar technology For further
        information, visit <a href="allaboutcookies.org.">allaboutcookies.org</a>
      </p>
    </div>

    <div class="section">
      <h3 class="heading">How do we use cookies?</h3>
      <p class="content">Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
      <ul class="content">
        <li>Keeping you signed in</li>
        <li>Understanding how you use our website</li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">What types of cookies do we use?</h3>
      <p class="content">There are a number of different types of cookies, however, our website uses:</p>
      <ul class="content">
        <li>
          <b class="bold">Functionality</b> – Our Company uses these cookies so that we recognize you on our website and remember your
          previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and
          third-party cookies are used.
        </li>
      </ul>
    </div>

    <div class="section">
      <h3 class="heading">How to manage cookies</h3>
      <p class="content">
        You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in
        a few cases, some of our website features may not function as a result.
      </p>
    </div>

    <div class="section">
      <h3 class="heading">Privacy policies of other websites</h3>
      <p class="content">
        The PlacementHub website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link
        to another website, you should read their privacy policy.
      </p>
    </div>

    <div class="section">
      <h3 class="heading">Changes to our privacy policy</h3>
      <p class="content">
        PlacementHub keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last
        updated on 1st March 2024.
      </p>
    </div>

    <div class="section">
      <h3 class="heading">How to contact us</h3>
      <p class="content">
        If you have any questions about our privacy policy, or the data we hold on you, or you would like to exercise one of your data
        protection rights, please do not hesitate to contact us.
      </p>

      <p class="content medium">Email us at one of the following emails :</p>
      <p class="content">- cxo242@student.bham.ac.uk (Chibueze David Ogbonna)</p>
      <p class="content">- kxk362@student.bham.ac.uk (Katarina Kartakusuma)</p>
      <p class="content">- lxt211@student.bham.ac.uk (Laila Tantavy)</p>
      <p class="content">- riw382@student.bham.ac.uk (Ramzy Izza Wardhana)</p>
      <p class="content">- sxk1332@student.bham.ac.uk (Suhel Malik)</p>
      <p class="content">- axa1941@student.bham.ac.uk (Andrei Argeanu)</p>
      <p class="content">- sxm1735@student.bham.ac.uk (Suhel Malik)</p>
      <p class="content medium">Or Call us at:</p>
      <p class="content">+447495377451</p>
      <p class="content medium">Or write to us at:</p>
      <p class="content">Ashcroft Block 2, Flat 11, Pritchatts Rd, West Midlands, Birmingham, B15 2QU</p>
    </div>

    <div class="section">
      <h3 class="heading">How to contact the appropriate authority</h3>
      <p class="content">
        Feel free to contact our team (through the email above) if any issues occur with your data or any concerns you have.
      </p>
    </div>
  </div>
</div>
