.container {
  margin-block: 7rem;
}

.form-control {
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin-top: 0.2rem;
}

.btn-x {
  background-color: #c4aff4;
  color: #111b53;
  border: 0;
  margin-left: 1rem;
}

.btn-submit1 {
  padding: 0.75rem 2rem;
  background-color: #c4aff4;
  border: 0;
  border-radius: 30px;
}

.btn-submit2 {
  padding: 0.75rem 2rem;
  background-color: #5857a8;
  border: 0;
  border-radius: 30px;
  margin-left: 0.25rem;
}

.btn-calendar {
  margin-bottom: 7rem;
}
