<div class="container">
  <div class="text-center">
    <h2 id="page-heading" data-cy="ReviewHeading">
      <h1>Reviews</h1>

      <div class="d-flex justify-content-center mb-5">
        <button class="btn btn-info me-2 btn-submit1" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh list</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-review btn-submit2"
          [routerLink]="['/review/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Review </span>
        </button>
      </div>
    </h2>
  </div>

  <div class="d-flex justify-content-center text-center">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="reviews?.length === 0">
    <span>No Reviews found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reviews && reviews.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!--          <th scope="col" jhiSortBy="companyName">-->
          <!--            <div class="d-flex">-->
          <!--              <span>Company Name</span>-->
          <!--              <fa-icon class="p-1" icon="sort"></fa-icon>-->
          <!--            </div>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="role">
            <div class="d-flex">
              <span>Role</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rating">
            <div class="d-flex">
              <span>Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="review">
            <div class="d-flex">
              <span>Review</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="recommend">
            <div class="d-flex">
              <span>Recommend</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appUser.id">
            <div class="d-flex">
              <span>App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userCompany.id">
            <div class="d-flex">
              <span>User Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/review', review.id, 'view']">{{ review.id }}</a>
          </td>
          <!--          <td>{{ review.companyName }}</td>-->
          <td>{{ review.role }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.review }}</td>
          <td>{{ review.recommend }}</td>
          <td>
            {{ review.appUser?.id }}
          </td>
          <td>
            <div *ngIf="review.userCompany">
              <a [routerLink]="['/user-company', review.userCompany.id, 'view']">{{ review.userCompany.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/review', review.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
