.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  font-family: Roboto, sans-serif;
  background: #7c67c5;
  border-radius: 30px;
  width: 80%;
  max-width: 1150px;
  margin: 20px auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: #5857a8;
  border-radius: 30px 30px 0 0;
}

@media (max-width: 480px) {
  .div {
    width: 100%;
  }
}
.profile-photo {
  height: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.post-heading {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  font-size: large;
  font-weight: 520;
}
.post-description {
  margin-left: 30px;
  margin-top: 15px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-photo {
  position: relative;
  height: 90%;
  width: 95%;
  max-height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .post-photo {
    width: 95%;
  }
}

.delPost {
  background-color: darkred;
  border-radius: 30px;
  border: 0;
  padding: 0.75rem 1.5rem;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
}
