* {
  font-family: 'Roboto', sans-serif;
}

.hub {
  font-weight: 700;
}

.container {
  margin-block: 4rem;
}

.form-control {
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin-block: 0.5rem 3rem;
}

.btn-sm {
  border-radius: 20px;
}
