<div class="board">
  <h1 class="board-title">Placement Tracker</h1>
  {{ JSON.stringify(cards) }}
  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">
        <div class="column-title-box">
          <div class="column-title">
            {{ column.name }}
          </div>
        </div>

        <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event, column.name)">
          <div class="task" cdkDrag [cdkDragData]="item" *ngFor="let item of column.tasks" (click)="containerClicked(item.id)">
            <div>
              {{ item.companyName }}
            </div>
            <div>
              {{ item.jobTitle }}
            </div>
            <div>
              {{ item.jobLocation }}
            </div>
            <div>
              {{ item.jobDuration }}
            </div>
          </div>
        </div>
        <br />
        <button mat-button class="add-card-button" (click)="openCreateCardPopUp()">+ Add Card</button>
        <br />
      </div>
    </div>
  </div>
</div>
