<div class="main-hero background-img align-items-center">
  <div class="container text-center hero">
    <!--    <h1 class="title"><b>Respecting Your Privacy - GDPR</b></h1>-->
  </div>
</div>

<div class="body">
  <div class="container">
    <div class="row my-5 px-4">
      <div
        class="py-5 col-xl-6 col-sm-12 d-flex flex-column justify-content-md-start justify-content-center align-items-center align-items-md-start"
      >
        <h1 class="heading">23 Real User Involved during our Development</h1>
        <p class="par">
          We integrate real user feedback and Agile methodologies to ensure our application development is both dynamic and user-centered.
          Throughout the development process, we actively engage with our target audience, i.e. students from our relatives through
          structured surveys and iterative testing cycles. This allows us to gather valuable insights directly from our users, such as their
          needs for job tracking, accessibility features, and overall usability of the application. Based on their responses, we prioritize
          and implement features that enhance user experience and accessibility.
        </p>
        <p class="par">
          Some features that were inspired by a real user are the Kanban Board Tracker, progress dashboard summary, and a categorized
          calendar that can filtered based on interviews, assessment center, or any other status. Each iteration of the app is refined based
          on this direct user feedback, aligning with Agile practices to continually adapt and evolve our product to better meet user needs.
          This collaborative process not only improves the functionality and design of the application but also ensures that we are creating
          a tool that genuinely supports and empowers our users (students), especially in their job placement-seeking journey.
        </p>
      </div>
      <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="img1"></div>
      </div>
    </div>
    <hr class="d-sm-block d-md-none" />
    <div class="row my-5 px-4">
      <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="img2"></div>
      </div>
      <div
        class="py-5 col-xl-6 col-sm-12 d-flex flex-column justify-content-md-start justify-content-center align-items-center align-items-md-start"
      >
        <h1 class="heading">Mobile Friendly and Cross-Device Compatible Interface</h1>
        <p class="par">
          Our website is designed with responsiveness at its core, ensuring that every element adapts dynamically to the width of the
          browser. This design philosophy guarantees full functionality and a seamless user experience across all devices, including mobile
          phones, tablets, iPads, laptops, and desktops. Whether you're on the go or at your desk, our website provides consistent
          accessibility and usability, making it easy to navigate and interact with on any device.
        </p>
      </div>
    </div>
    <hr class="d-sm-block d-md-none" />
    <div class="row my-5 px-4">
      <div
        class="py-5 col-xl-6 col-sm-12 d-flex flex-column justify-content-md-start justify-content-center align-items-center align-items-md-start"
      >
        <h1 class="heading">Colour Pallete Are Well Considered for Colour Blind User</h1>
        <p class="par">
          In our project, we've chosen a color palette that caters to users with visual impairments, including those with color blindness
          conditions such as Protanopia, Deuteranopia, and Tritanopia. Our selection of shades of blue and purplish has been thoroughly
          tested to ensure they are accessible and visually friendly for all users. Additionally, the colours we utilize comply with
          established accessibility standards, aligning with the guidelines and rules set forth by the Web Content Accessibility Guidelines
          (WCAG). This adherence ensures that our website not only offers an aesthetically pleasing experience but also maintains a high
          level of accessibility for individuals with diverse visual needs.
        </p>
      </div>
      <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="img3"></div>
      </div>
    </div>
    <hr class="d-sm-block d-md-none" />
    <div class="row my-5 px-4">
      <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="img4"></div>
      </div>
      <div
        class="py-5 col-xl-6 col-sm-12 d-flex flex-column justify-content-md-start justify-content-center align-items-center align-items-md-start"
      >
        <h1 class="heading">Typography Tailored for Accessibility</h1>
        <p class="par">
          In our commitment to accessibility, we have chosen the Roboto font for our project due to its widespread recognition and
          effectiveness in enhancing readability for users with dyslexia. Major studies have highlighted Roboto as
          <a
            href="https://www.twinkl.co.uk/blog/dyslexia-fonts-which-fonts-best-support-dyslexic-learners-with-reading#:~:text=Use%20sans%20serif%20fonts%20(for,New%20Roman%20(with%20serifs)."
            >one of the most accessible fonts</a
          >, known for its clear and user-friendly design. We have considered not only the choice of font but also the sizing, and styles
          such as italic, bold, and underline to ensure optimal readability and ease of use. Each typographic element has been thoughtfully
          designed to accommodate users with different reading abilities, ensuring that our content is accessible to a wider audience. This
          approach aligns with the best practices in accessibility research, furthering our goal to create an inclusive digital environment.
        </p>
      </div>
    </div>
    <hr class="d-sm-block d-md-none" />
    <div class="row my-5 px-4">
      <div
        class="py-5 col-xl-6 col-sm-12 d-flex flex-column justify-content-md-start justify-content-center align-items-center align-items-md-start"
      >
        <h1 class="heading">Enhanced Navigation and Customizable Accessibility Features Through Browsers</h1>
        <p class="par">
          Our website is engineered to ensure ease of navigation without the need for a keyboard or touch input. Users can navigate through
          our interface using simple keyboard commands, such as pressing the <b>'Tab'</b> key to move between links and using arrow keys to
          select different buttons. This feature is particularly helpful for users with motor impairments or those who prefer keyboard
          navigation.
        </p>
        <p class="par">
          Furthermore, we have incorporated extensive support for all of our elements specifically for built-in browser accessibility
          feature or plugin such as
          <a
            href="https://chromewebstore.google.com/detail/accessibility-a-powerful/nnmmmhcflgbendklbhknkkacnjempijd?hl=en-US&utm_source=ext_sidebar"
            >Ascend</a
          >
          that allow accessing all websites in the internet with additional accessible features. We have make sure that our element are
          compatible with the browser's accessibility setting, allowing users to customize their browsing experience directly within their
          browser. This includes adjustments to <b>font sizes, zoom levels, contrast settings, and even screen readers.</b> By supporting
          these adaptive technologies, we make sure that all users, regardless of their visual or physical abilities, can access and
          navigate our site with ease, ensuring a more inclusive digital environment.
        </p>
      </div>
      <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="img5"></div>
      </div>
    </div>
    <div class="text-center my-5">
      <button type="button" class="my-4 btn btn-secondary-home btn-secondary text-center text-md-start" routerLink="/">Back to Home</button>
    </div>
  </div>
</div>
