<div class="container">
  <div class="text-center">
    <h2 id="page-heading" data-cy="CalendarHeading">
      <h1 class="mb-3">Calendars</h1>

      <div class="d-flex justify-content-center mb-5">
        <button class="btn btn-info me-2 btn-submit1" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh list</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-calendar btn-submit2"
          [routerLink]="['/calendar/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Calendar </span>
        </button>
      </div>
    </h2>
  </div>

  <div class="d-flex justify-content-center text-center">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="calendars?.length === 0">
    <span>No Calendars found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="calendars && calendars.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calendarName">
            <div class="d-flex">
              <span>Calendar Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calendarDescription">
            <div class="d-flex">
              <span>Calendar Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calendarColor">
            <div class="d-flex">
              <span>Calendar Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appUser.id">
            <div class="d-flex">
              <span>App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let calendar of calendars; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/calendar', calendar.id, 'view']">{{ calendar.id }}</a>
          </td>
          <td>{{ calendar.calendarName }}</td>
          <td>{{ calendar.calendarDescription }}</td>
          <td>{{ calendar.calendarColor }}</td>
          <td>
            {{ calendar.appUser?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/calendar', calendar.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/calendar', calendar.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(calendar)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
