<nav data-cy="navbar" class="navbar navbar-expand-xxl">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <!--      <span class="navbar-version">{{ version }}</span>-->
    </a>
    <a
      class="navbar-toggler d-xxl-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>

    <!-- Collapsible content -->
    <div class="navbar-collapse collapse text-center" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed">
      <!-- Left side of the navbar -->
      <ul class="navbar-nav public-sans public-sans-weight-600 nav-item">
        <!-- Navigation Buttons for Logged In Users Only -->
        <li *ngIf="account" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/tracker" (click)="collapseNavbar()">Tracker</a>
        </li>
        <li *ngIf="account" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/calendar-component" (click)="collapseNavbar()">Calendar</a>
        </li>
        <li *ngIf="account" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/notes" (click)="collapseNavbar()">Notes</a>
        </li>
      </ul>

      <!-- Login-less Navigation Button -->
      <ul class="navbar-nav nav-item">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/article-component" (click)="collapseNavbar()">Article</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/ratings" (click)="collapseNavbar()">Ratings</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/company-profile" (click)="collapseNavbar()">Company</a>
        </li>
      </ul>

      <!-- Right side of the navbar -->
      <ul class="navbar-nav ms-auto">
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle btn" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Entities</span>
            </span>
          </a>
          <!--          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu"></ul>-->
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="user-company"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>User Company</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="calendar"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="event"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Event</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="card"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Card</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="company-posts"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Company Posts</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="article"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Article</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="video"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Video</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="favourite"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Favourite</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="document"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Document</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="placement"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Placement</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="review"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Review</span>
              </a>
            </li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle btn" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
            <li *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                <span>Database</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="!account" class="nav-item">
          <a
            class="nav-link btn btn-sign-up"
            routerLink="account/register"
            routerLinkActive="active"
            (click)="collapseNavbar()"
            data-cy="register"
          >
            <span class="sign-up-text">Sign Up</span>
          </a>
        </li>

        <li *ngIf="!account" class="nav-item">
          <a class="nav-link btn-login" (click)="login()" id="login" data-cy="login">
            <span class="login-text">Login</span>
          </a>
        </li>
        <li *ngIf="account" ngbDropdown class="nav-item dropdown pointer" display="dynamic">
          <a class="nav-link dropdown-toggle btn" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Account</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <!-- Settings, Password -->
            <li>
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Settings</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span>Password</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="account" class="nav-item">
          <a class="nav-link btn btn-sign-out px-3" (click)="logout()" id="logout" data-cy="logout">
            <span class="sign-out-text">Sign out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
