<div class="d-flex justify-content-center container mb-5">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="text-center mb-3">
        <h2 id="jhi-user-company-heading" data-cy="UserCompanyCreateUpdateHeading">Create or edit a User Company</h2>
      </div>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="userCompany image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-x btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_logo" data-cy="logo" (change)="setFileData($event, 'logo', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_profileImageBackground">Profile Image Background</label>
          <div>
            <img
              [src]="
                'data:' +
                editForm.get('profileImageBackgroundContentType')!.value +
                ';base64,' +
                editForm.get('profileImageBackground')!.value
              "
              style="max-height: 100px"
              *ngIf="editForm.get('profileImageBackground')!.value"
              alt="userCompany image"
            />
            <div *ngIf="editForm.get('profileImageBackground')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('profileImageBackgroundContentType')!.value }},
                {{ byteSize(editForm.get('profileImageBackground')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('profileImageBackground', 'profileImageBackgroundContentType', 'file_profileImageBackground')"
                class="btn btn-x btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_profileImageBackground"
              data-cy="profileImageBackground"
              (change)="setFileData($event, 'profileImageBackground', true)"
              accept="image/*"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="profileImageBackground"
            id="field_profileImageBackground"
            data-cy="profileImageBackground"
            formControlName="profileImageBackground"
          />
          <input
            type="hidden"
            class="form-control"
            name="profileImageBackgroundContentType"
            id="field_profileImageBackgroundContentType"
            formControlName="profileImageBackgroundContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_companySize">Company Size</label>
          <select class="form-control" name="companySize" formControlName="companySize" id="field_companySize" data-cy="companySize">
            <option [ngValue]="null"></option>
            <option *ngFor="let option of companySizeOptions" [ngValue]="option.key">
              {{ option.value }}
            </option>
          </select>

          <div *ngIf="editForm.get('companySize')!.invalid && (editForm.get('companySize')!.dirty || editForm.get('companySize')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('companySize')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_industry">Industry</label>
          <select class="form-control" name="industry" formControlName="industry" id="field_industry" data-cy="industry">
            <option [ngValue]="null"></option>
            <option *ngFor="let option of industryOptions" [ngValue]="option.key">
              {{ option.value }}
            </option>
          </select>

          <div *ngIf="editForm.get('industry')!.invalid && (editForm.get('industry')!.dirty || editForm.get('industry')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('industry')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalLocation">Total Location</label>
          <input
            type="number"
            class="form-control"
            name="totalLocation"
            id="field_totalLocation"
            data-cy="totalLocation"
            formControlName="totalLocation"
          />
          <div
            *ngIf="
              editForm.get('totalLocation')!.invalid && (editForm.get('totalLocation')!.dirty || editForm.get('totalLocation')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('totalLocation')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('totalLocation')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareUser"
            required="true"
          >
            <option [ngValue]="null">Select a user</option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">
              {{ userOption.login ? userOption.login : 'No Login Provided' }}
            </option>
            <div *ngIf="editForm.get('appUser')!.invalid && (editForm.get('appUser')!.dirty || editForm.get('appUser')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('appUser')?.errors?.required">This field is required</small>
            </div>
          </select>
        </div>
      </div>
      <div class="text-center">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-submit1 btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-submit2 btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
      <div></div>
    </form>
  </div>
</div>
