.container {
  margin-block: 12rem;
}

.logo {
  width: 100px;
}

.profile-image {
  width: 500px;
}

.btn-submit1 {
  padding: 0.75rem 2rem;
  background-color: #c4aff4;
  border: 0;
  border-radius: 5rem;
}

.btn-submit2 {
  padding: 0.75rem 2rem;
  background-color: #5857a8;
  border: 0;
  border-radius: 5rem;
}
