<div class="container">
  <div class="text-center">
    <h2 id="page-heading" data-cy="CardHeading">
      <h1>Cards</h1>

      <div class="d-flex justify-content-center mb-5">
        <button class="btn btn-info me-2 btn-submit1" (click)="load()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span>Refresh list</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-document btn-submit2"
          [routerLink]="['/card/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span> Create a new Card </span>
        </button>
      </div>
    </h2>
  </div>

  <div class="d-flex justify-content-center text-center">
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="cards?.length === 0">
    <span>No Cards found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cards && cards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="applicationStatus">
            <div class="d-flex">
              <span>Application Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdDateTime">
            <div class="d-flex">
              <span>Created Date Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyName">
            <div class="d-flex">
              <span>Company Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobTitle">
            <div class="d-flex">
              <span>Job Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobLocation">
            <div class="d-flex">
              <span>Job Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jobDuration">
            <div class="d-flex">
              <span>Job Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appUser.id">
            <div class="d-flex">
              <span>App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a>
          </td>
          <td>{{ card.applicationStatus }}</td>
          <td>{{ card.createdDateTime | formatMediumDatetime }}</td>
          <td>{{ card.companyName }}</td>
          <td>{{ card.jobTitle }}</td>
          <td>{{ card.jobLocation }}</td>
          <td>{{ card.jobDuration }}</td>
          <td>
            {{ card.appUser?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/card', card.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(card)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
