* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin-block: 5rem;
}

.hub {
  font-weight: 700;
}

#spring-configuration {
  margin-block: 3rem 1rem;
}

.form-control {
  border-radius: 30px;
  padding: 1rem 1.5rem;
  margin-top: 0.2rem;
}

.secondary {
  background-color: #ebebeb;
}
